
#listOfAllChat {
    list-style-type: none;
    font-size: medium;
    
}

#inputfield{
    max-width: 700px;
    width: 85%;
    height: 25px;
    border-radius: 20px 0px 0px 20px; 
}
#sendessage{
    height: 30px;
    border-radius: 0px 10px 10px 0px;
    background-color: rgba(21, 0, 255, 0.984);
    color: white;
    font-size: medium;
    font-weight: 500;
}
.allchat{
  
   padding-right: 10px;
    width: 80%;
    max-width: 620px;
    position: relative;
    min-height: 450px;
    max-height: 60vh;
    background-color: rgba(222, 238, 214, 0.539);
    border-style: ridge;
    border-radius: 10px 10px 10px 10px;
   
    overflow-y: scroll;
   
}
#show_all_member{
    max-width:150px;
    background-color: rgb(240, 255, 246);
}
#sidebar{
    width: 100px;
    background-color: rgba(158, 158, 229, 0.621);
   
 }
body{
    background-color: rgba(7, 116, 5, 0.792);
}
.heading{
    max-width: 800px;
    width: 100%;
   ;
    position: relative;
    display: flex;
    background-color: rgba(0, 255, 255, 0.749);
   
}
.chat_word{
    text-align: center;
    position: relative;
    font-size: x-large;
    font-weight: 700;
    left: 30%;
}
#create_group_button{
    border-radius: 5px;
    width: max-content;
    height:25px;
    border-style: none;
    cursor: pointer;
    font-weight: 700;
    background-color: #FFF;
}
#create_group{
    height:20px;
    width: 100px;
}
body{
    vertical-align: middle;
    position: relative;
    left: 5%;
  
}

.other_name_print{
    background-color: rgba(30, 203, 140, 0.71);
    font-size: small;
    width: max-content;
    min-width: 50%;
    border-radius: 0px 10px 0px 0px;
    padding-left: 10px;
}
.chatList_item_otheruser{
    background-color: rgba(30, 203, 140, 0.71);
    padding: 0px 0px 10px  10px;
    width: max-content;
    min-width: 50%;
    margin-bottom: 0.4rem;
    border-radius: 0px 0px 10px 0px;
   border-top-style: dotted;
   border-top-color: rgb(40, 177, 104);
}
.chatList_item_user{
    text-align: right;
    padding: 0px 0px 10px  0px;

    min-width: 50%;
    max-width: 50%;
    border-radius: 0px 0px 0px 10px;
    position: relative;
    left: 50%;
    background-color: antiquewhite;
     margin-bottom: 0.4rem;
     border-top-style: dotted;
   border-top-color: rgba(212, 191, 163, 0.982);
 }
 .user_name_print{
    text-align: right;
    padding: 0px 0px 10px  0px;
    min-width: 50%;
    max-width: 50%;
    border-radius: 10px 0px 0px 0px;
    position: relative;
    left: 50%;
    background-color: antiquewhite;
    font-size: small;
     
 
 }
 .chat_box{
    display: flex;
 }
 
 .group{
    width: 100%;
    border-style: none;
    /* height: 25px; */
    padding: 5px 0px 8px 0px;
    cursor: pointer;
    color: rgb(254, 252, 252);
    background-color: rgb(7, 112, 112);
   text-overflow: ellipsis;
    margin-top: 0.4rem;
 }
 .group:hover{
    background-color: darkgray;
 }
 #active_group{
    background-color: rgb(234, 240, 237);
    width: 100%;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    font-size: larger;
 }
 .active_all{
    display: flex;
    width: 100%;
 }
 #all_member,#add_member_in_group,#all_member_hide{
    /* background-color: blue; */
    min-width: fit-content;
    background-color: beige;

 }
 #add_member{
    
    width: 200px;
    /* background-color: red; */
 }
 /* #add_member_in_group{
    background-color: forestgreen;
 } */
.addmember_hide{
    visibility: hidden;
   
}
.addmember{
    visibility: visible;
}
.group_member{
    border-style: none;
    margin-right: 0.2rem;
    background-color: rgb(6, 111, 76);
    color: white;
    width: 100%;
    margin-top: 0.4rem;
    text-align: left;
}
.delet_member{
    background-color: rgb(200, 7, 7);
    color: white;
}